.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.login-form > input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  height: 50px;
  width: 30%;
  margin-bottom: 25px;
  padding: 0 10px;
}

.login-form > button {
  width: 20%;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  cursor: pointer;
}

.login-form > button:hover {
  background-color: var(--blue);
}

.login-form > a {
  line-height: 1.25;
  font-size: 1.125rem;
  color: var(--dark-blue);
  text-decoration: none;
}

.login-error-bar {
  position: absolute;
  width: 90%;
  background: red;
  height: 50px;
  top: 0;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-error-dismiss {
  font-size: 2em;
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.display-none {
  display: none;
}
