.profile-modal{
    display: none;
    top: 0;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(128, 128, 128, 0.5);
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.modal-contents {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
